---
import Footer from '../components/Footer.astro';
import HeroSmall from '../components/HeroSmall.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Northen York County Emergency Manangement Agency">
  <main class="flex-grow">
    <HeroSmall title="About Us" />
    <p class="text-base">Our primary functions at NEMA are Prevention, Preparedness, Response and Recovery.
Our efforts are based on NIMS, the National Incident Management System, which helps us deal with Disasters Emergencies in a standardized way.
NEMA’s Preparedness function emphasizes Public Education where we encourage the general public to PLAN for the possibility of Sheltering in Place or Evacuating due to disaster emergencies.
For example, Helen’s Plan helps Senior Citizens create a Plan with the help of Family, Friends and Neighbors should they need to leave their home for a short time due to power outages, equipment failures, etc.
 
NEMA’s website is dedicated to helping our citizens in the Northern York County community at large become better prepared for disaster emergencies.</p>
  </main>
  <Footer />
</Layout>
