---
import Footer from '../components/Footer.astro';
import HeroSmall from '../components/HeroSmall.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Northen York County Emergency Manangement Agency">
  <main class="flex-grow">
    <HeroSmall title="Documents" />
    <ul>
      <li>
        <a href="../../public/PAEmergencyPreparednessGuide-24 pg.pdf" target="_blank">PA Emergency Preparedness Guide</a>
      </li>
      <li>
        <a href="../../public/Preparing Makes Sense Get Ready Now.pdf" target="_blank">Preparing Makes Sense Get Ready Now</a>
      </li>
      <li>
        <a href="../../public/Preparing Makes Sense for Older Pennsylvanians 4pg folding.pdf" target="_blank">Preparing Makes Senes for Olders Pennsylvanians</a>
      </li>
      <li>
        <a href="../../public/Preparing Makes Sense for People with Disabilities and Special Needs 4pg folding.pdf" target="_blank">Preparing Makes Sense for People with Disabilities and Special Needs</a>
      </li>
    </ul>
    </main>
  <Footer />
</Layout>
