---
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';
import HeroSmall from '../components/HeroSmall.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Northen York County Emergency Manangement Agency">
  <main class="flex-grow">
    <HeroSmall title="Documents" />
    <div class="container mx-auto flex flex-wrap lg:py-24 py-12 justify-center">
      <Card title="Helen's Plan" desc="PDF" link="/Helen's Plan-leaving home due to short term emergencies.pdf"/>  
      <Card title="PA Emergency Preparedness Guide" desc="PDF" link="/PAEmergencyPreparednessGuide-24 pg.pdf"/>  
      <Card title="Preparing Makes Sense Get Ready Now" desc="PDF" link="/Preparing Makes Sense Get Ready Now.pdf"/>  
      <Card title="Preparing Makes Sense for Older Pennsylvanians" desc="PDF" link="/Preparing Makes Sense for Older Pennsylvanians 4pg folding.pdf"/>  
      <Card title="Preparing Makes Sense for People with Disabilities and Special Needs" desc="PDF" link="/Preparing Makes Sense for People with Disabilities and Special Needs 4pg folding.pdf"/>  
      <Card title="Straight-Line Winds vs. Tornado: What's the Difference?" desc="PDF" link="/Straight-Line Winds vs. Tornado What's the Difference.pdf"/>  
    </div> 
  </main>
  <Footer />
</Layout>
