---
import Content1 from '../components/Content1.astro';
import Content2 from '../components/Content2.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Steps from '../components/Steps.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Northen York County Emergency Manangement Agency">
  <main>
    <Hero />
    <Content1 />
    <Steps />
    <Footer />
  </main>
</Layout>
