---
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import HeroSmall from '../components/HeroSmall.astro';
import Accordion from '../components/Accordion.astro';
---

<Layout title="Northen York County Emergency Manangement Agency">
  <main class="flex-grow">
    <HeroSmall title="Resources" image="/resource.jpg"/>
    <Accordion />
  </main>
  <Footer />
</Layout> 
