---
import Footer from '../components/Footer.astro';
import HeroSmall from '../components/HeroSmall.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Northen York County Emergency Manangement Agency">
  <main class="flex-grow">
    <HeroSmall title="Trainings and Events"/>
  </main>
  <Footer />
</Layout>
