<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="transition">
  <div class="accordion-header cursor-pointer transition flex space-x-5 items-center h-16 px-6 pt-24 md:px-12 lg:container lg:mx-auto lg:px-6 lg:pt-24 pb-6">
    <i class="fas fa-plus text-emerald-700"></i>
    <h2 class="sm:text-3xl text-2xl font-bold title-font text-gray-900">
      Preparedness. What About You? 
    </h2>
  </div>
  <div class="accordion-content pt-0 overflow-hidden max-h-0 space-y-4 text-medium px-2 lg:px-20">
    <div class="flex flex-row ml-4 lg:ml-8 py-4">
      <div class="flex w-1 bg-gradient-to-t from-emerald-500 to-emerald-400"></div>
      <div class="flex-1 p-3">
        <p>Preparedness means planning ahead for emergencies or disasters that may affect you, your family, your friends and your neighbors.</p>
        <p>Emergencies or disasters can be anything from your heating system breaking down during extremely cold weather to your town flooding from excessive rain due to a tropical storm.&nbsp;&nbsp; In either case, our&nbsp; everyday routines are disrupted. &nbsp;&nbsp;</p>
        <p>Planning ahead means thinking about how you will function and survive an emergency or disaster, then taking the necessary steps to increase your chances of survival.&nbsp;</p>
        <p>In disasters, emergency workers may NOT be able to help you immediately.&nbsp; Therefore, <u>learning how to</u> <u>take care of yourself</u> is necessary.&nbsp; It&rsquo;s always easier to plan if you work together with family, friends and/or neighbors.&nbsp; In fact, once you make a plan, you must share it with your family, friends and neighbors so everyone works together as a team&hellip;&hellip;..a team with a plan for survival!</p>
        <p>Please refer to the following helpful publications &nbsp;found in DOCUMENTS:</p>
        <p>Document: <a href="/documents/" class="text-blue-600 underline">Helens Plan</a></p>
        <p><a href="/documents/" class="text-blue-600 underline">The Pennsylvania Emergency Preparedness Guide</a></p>
        <p>Brochure:<a href="/documents/" class="text-blue-600 underline">Preparing Makes Sense for Older Pennsylvanians</a></p>
        <p>Brochure:<a href="/documents/" class="text-blue-600 underline">Preparing Makes Sense for People with Special Needs</a></p>
        <p>Brochure:<a href="/documents/" class="text-blue-600 underline">Preparing Makes Sense&nbsp; Get Ready Now</a></p>
        <p>Everyone&rsquo;s situation is unique.&nbsp; Discuss your situation with family, friends and neighbors.&nbsp; Take a look at the resources we&rsquo;ve included in our Website and decide what you can do to be better prepared for emergencies and disasters.&nbsp;</p>
        <p>&nbsp;Your plan must fit your unique needs.&nbsp; Plans can be changed and expanded as your situation and your needs change.&nbsp; It is far more important to make a basic plan with the help of your family, friends and neighbors than to have NO plan&hellip;&hellip;&hellip;...&nbsp;</p>
        <p><strong>MAKE A PLAN</strong></p>
        <p>(refer to pgs #6, #22, #23 in Pennsylvania <a href="/documents/" class="text-blue-600 underline">Emergency Preparedness Guide</a>)</p>
        <p><strong>MAKE A KIT</strong></p>
        <p>(refer to brochure <a href="/documents/" class="text-blue-600 underline">Preparing Makes Sense for Older Pennsylvanians & the PA Emergency Preparedness Guide</a> pg #7 through #9)</p>
        <p><strong>PRACTICE THE PLAN</strong></p>
        <p>Once you&rsquo;ve created the Plan, share it with your family, friends and neighbors.</p>
        <p>Take time to discuss the Plan;&nbsp; modify it as necessary.</p>
      </div>
    </div>
  </div>
</div>
<div class="transition">
  <div class="accordion-header cursor-pointer transition flex space-x-5 items-center h-16 px-6 pt-24 md:px-12 lg:container lg:mx-auto lg:px-6 lg:pt-24 pb-6">
    <i class="fas fa-plus text-emerald-700"></i>
    <h2 class="sm:text-3xl text-2xl font-bold title-font text-gray-900">
      How to know when to evacuate or shelter in place.
    </h2>
  </div>
  <div class="accordion-content pt-0 overflow-hidden max-h-0 space-y-4 text-medium px-2 lg:px-20">
    <div class="flex flex-row ml-4 lg:ml-8 py-4">
      <div class="flex w-1 bg-gradient-to-t from-emerald-500 to-emerald-400"></div>
      <div class="flex-1 p-3">
        <p>Emergencies and Disasters can put us in danger.&nbsp; <strong>Our personal safety should be our prime concern</strong>.&nbsp; Emergencies and Disasters might cause us to react in any of several ways depending on our safety:</p>
        <ol>
          <li><u>Leaving</u> your home for a short time (a day or less)</li>
          <li><u>Evacuating </u>your home for more than a day</li>
          <li><u>Sheltering in Place</u> for more than a day</li>
          <li><u>Waiting</u> in place for emergency personnel to come help you</li>
        </ol>
        <p><u>Leaving your home for a short time</u></p>
        <p>Sometimes we might need to leave our home only for a short time-&nbsp; for example, when extreme summer heat causes us to become dehydrated even in our own home.&nbsp; Dehydration is a special concern for our <strong><u>Senior Citizens</u></strong> who tend to not drink enough fluids each day to remain healthy.&nbsp; <u>Leaving </u>your home and going to a &ldquo;cooling station&rdquo; even for a several hours a day might avoid a trip to the emergency room and possibly hospitalization.&nbsp; A similar situation can occur during extremely cold weather.&nbsp; Failure of a heating system may force you to seek a building where you can &ldquo;warm up&rdquo; until your heating system is repaired.</p>
        <p><u>Evacuating your home for more than a day</u></p>
        <p>Many of us have watched citizens in areas prone to seasonal Hurricanes leave their homes upon the recommendation of the local authorities.&nbsp;&nbsp; <u>Evacuating </u>your home for more than a day to a &ldquo;safer&rdquo; area is a practice that has proven to save more lives than if everyone simply hunkers down in the path of a strong hurricane.</p>
        <p><u>Sheltering in Place for more than a day</u></p>
        <p>From time to time South-Central PA gets hammered by a blizzard.&nbsp; Deep snow and wind makes it unsafe to leave home, perhaps for a few days until we dig out.&nbsp; <u>Sheltering in place</u> simply means you stay in your home until it is safe to go out again for your normal activities- shopping, refueling the vehicle, etc.&nbsp; Sheltering in place makes sense as long as we have all the essentials-&nbsp; water, food, communication.</p>
        <p><u>Waiting in Place for emergency personnel to come help you</u></p>
        <p>Too often, many folks decide to just wait for help to arrive, regardless of the circumstances.&nbsp; This is a somewhat risky choice depending on the circumstances.&nbsp; &nbsp;&nbsp;In regional disasters, the police, fire-fighters, medics and other first responders are overwhelmed and too busy to help everyone at the same time.</p>
        <p>As I discovered recently with my in-laws (see the Testimonial on the Home page), the <u>Electric Company was</u> <u>overwhelmed with outages</u> from the storm that caused the downing of many power lines.&nbsp; Power was not restored for two days. &nbsp;Fortunatly my in-laws had <strong>planned ahead</strong> by installing a portable generator.&nbsp; This kept the essential systems running, including some medical equipment.&nbsp; <strong>Their safety</strong> <strong>was ensured</strong>; they were able to shelter-in-place and avoid a stressful, dangerous evacuation.</p>
      </div>
    </div>
  </div>
</div>
<div class="transition">
  <div class="accordion-header cursor-pointer transition flex space-x-5 items-center h-16 px-6 pt-24 md:px-12 lg:container lg:mx-auto lg:px-6 lg:pt-24 pb-6">
    <i class="fas fa-plus text-emerald-700"></i>
    <h2 class="sm:text-3xl text-2xl font-bold title-font text-gray-900">
      How to know when to leave home for a short time.
    </h2>
  </div>
  <div class="accordion-content pt-0 overflow-hidden max-h-0 space-y-4 text-medium px-2 lg:px-20">
    <div class="flex flex-row ml-4 lg:ml-8 py-4">
      <div class="flex w-1 bg-gradient-to-t from-emerald-500 to-emerald-400"></div>
      <div class="flex-1 p-3">
        <p>NEMA&nbsp; created the Website NEMAPA.gov primarily as a resource for the public when planning for an emergency or disaster.&nbsp; Planning for emergencies and disasters <u>must occur <strong>now</strong></u>, not the day of a major storm or a failure of your home&rsquo;s heating system.&nbsp; The planning process, especially for our Senior Citizens, should involve Family, Friends and Neighbors.</p>
        <p>Use the following documents that can be found in the DOCUMENTS TAB:</p>
        <ul>
          <p>Document: <a href="/documents/" class="text-blue-600 underline">Helens Plan</a></p>
          <p><a href="/documents/" class="text-blue-600 underline">The Pennsylvania Emergency Preparedness Guide</a></p>
          <p>Brochure:<a href="/documents/" class="text-blue-600 underline">Preparing Makes Sense for Older Pennsylvanians</a></p>
        </ul>
        <p>Read <u>Helen&rsquo;s Plan</u>.&nbsp; The narrative pretty much explains how she with the help of family, friends and neighbors <strong>created a plan</strong> that works for leaving your home for short periods of time.&nbsp; Helen&rsquo;s Plan also addresses how to <strong>make a kit</strong>.</p>
        <p>Also, read the brochure titled <u>Preparing makes sense for Older Pennsylvanians</u>.&nbsp; It will help you with your Plan and your Kit.</p>
        <p>Use the PEPG pgs # 6, 22, and 23 to assist you <strong>make a plan</strong>.</p>
        <p>Use the PEPG pgs #7 through 9 to assist you <strong>make a kit</strong>.</p>
        <p><u>Caution:</u>&nbsp; the PEPG and the Brochure for Older Pennsylvanians recommends creating a Home Emergency Kit. This involves far too many times needed for a short term evacuation.&nbsp; Follow Helen&rsquo;s Plan for short term evacuations;&nbsp; the PEPG and Older Pennsylvanians kits are more appropriate for Sheltering in Place.</p>
        <p><u>Remember</u> to always keep your vehicle&rsquo;s fuel tank or batteries &ldquo;full&rdquo;,&nbsp; and keep your mobile phone and laptop fully charged.</p>
        <p><u>Remember </u>to purchase a &ldquo;charging block&rdquo; for your mobile phone and laptop;&nbsp; these devices require charging but will then hold a charge which you can use on your battery-powered devices if they lose power.&nbsp; It is critical to have at least a mobile phone that is fully charged so you can communicate and receive weather and news updates.</p>
      </div>
    </div>
  </div>
</div>
<div class="transition pb-24">
  <div class="accordion-header cursor-pointer transition flex space-x-5 items-center h-16 px-6 pt-24 md:px-12 lg:container lg:mx-auto lg:px-6 lg:pt-24 pb-6">
    <i class="fas fa-plus text-emerald-700"></i>
    <h2 class="sm:text-3xl text-2xl font-bold title-font text-gray-900">
      How to shelter in place.     
    </h2>
  </div>
  <div class="accordion-content pt-0 overflow-hidden max-h-0 space-y-4 text-medium px-2 lg:px-20">
    <div class="flex flex-row ml-4 lg:ml-8 py-4">
      <div class="flex w-1 bg-gradient-to-t from-emerald-500 to-emerald-400"></div>
      <div class="flex-1 p-3">
        <p>NEMA created the Website NEMAPA.gov primarily as a resource for the public when planning for an emergency or disaster. Planning for emergencies and disasters <u>must occur <strong>now</strong></u>, not the day of a major storm or a failure of your home&rsquo;s heating system. The planning process, <u>especially for our Senior</u><u>Citizens</u>, should involve Family, Friends and Neighbors.</p>
        <p>Preparations for Sheltering in Place in your home simply means you and your family will need to stay in your home (instead of evacuating) for more than a day. Staying in your home may be a <strong>safer </strong>alternative to evacuating if you are prepared. Follow the recommendations from the local authority.</p>
        <p>Sheltering in Place in Pennsylvania can occur because of several emergencies (see pgs# 3-5 in the PEPG for the top ten possible emergencies). A good one to use for planning purposes (that many of us have experienced over the years) is a severe winter storm (blizzard). Staying in your home means avoiding extreme cold, deep snow and icy conditions.</p>
        <p>Preparing to shelter in place requires you to create a Plan and make a Kit- just like planning to leave home for a short time or evacuating your home for more than a day. Use the information found in the DOCUMENTS TAB to help you create a Plan and a Kit:</p>
        <ul>
          <p><a href="/documents/" class="text-blue-600 underline">The Pennsylvania Emergency Preparedness Guide</a></p>
          <p>Brochure:<a href="/documents/" class="text-blue-600 underline">Preparing Makes Sense for Older Pennsylvanians</a></p>
        </ul>
        <p>Use the PEPG pgs # 6, 22, and 23 to assist you <strong>make a plan</strong>; include family, friends and neighbors.</p>
        <p>Use the PEPG pgs #7 through 9 to assist you <strong>make a kit</strong>.</p>
        <p><u>Kit</u>- you must create a Home Emergency Kit. It should include the items listed in the recommended Documents. The PEPG and Older Pennsylvanians describe kits that are very comprehensive and appropriate for Sheltering in Place.</p>
        <p><u>Remember </u>to stock the essentials: Food, Water (especially if your home water supply is a well), Cash, Medications, etc. Stock your pantry with enough non-perishable food for at least three (3) days. Buy what you normally eat and rotate the stock in your pantry. Canned goods such as beans are an excellent choice and don&rsquo;t forget to have a manual can opener in case of power outages.</p>
        <p><u>Remember</u> to include battery powered lights (head lamps, table top lights) along with extra batteries.</p>
        <p><u>Remember</u> to always keep your vehicle&rsquo;s fuel tank or batteries &ldquo;full&rdquo;, and keep your mobile phone and laptop fully charged.</p>
        <p><u>Remember </u>to purchase a &ldquo;charging block&rdquo; for your mobile phone and laptop; these devices require charging but will then hold a charge which you can use to recharge your battery-powered devices if they lose power. It is critical to have at least a mobile phone that is fully charged so you can communicate and receive weather and news updates.</p>
      </div>
    </div>
  </div>
</div>

<script>
const accordionHeader = document.querySelectorAll(".accordion-header");
accordionHeader.forEach((header) => {
  header.addEventListener("click", function () {
    const accordionContent = header.parentElement.querySelector(".accordion-content");
    let accordionMaxHeight = accordionContent.style.maxHeight;

    if (accordionMaxHeight == "0px" || accordionMaxHeight.length == 0) {
      accordionContent.style.maxHeight = `${accordionContent.scrollHeight + 32}px`;
      header.querySelector(".fas").classList.remove("fa-plus");
      header.querySelector(".fas").classList.add("fa-minus");
    } else {
      accordionContent.style.maxHeight = `0px`;
      header.querySelector(".fas").classList.add("fa-plus");
      header.querySelector(".fas").classList.remove("fa-minus");
    }
  });
});
</script>
