---
const {title, desc, link} = Astro.props
---

<article
  class="mx-4 rounded-lg border border-gray-200 p-4 shadow-sm transition hover:shadow-lg sm:p-6  m-4 lg:w-2/5 w-full "
>
  <span class="inline-block rounded bg-emerald-600 p-2 text-white">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M13 2H6a2 2 0 0 0-2 2v16c0 1.1.9 2 2 2h12a2 2 0 0 0 2-2V9l-7-7z"/><path d="M13 3v6h6"/></svg>  </span>
  <a href={link} target="_blank" rel="noreferrer noopener">
    <h3 class="mt-0.5 text-lg font-medium text-gray-900">
      {title}
    </h3>
  </a>

  <p class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3">
    {desc}    
  </p>

  <a
    href={link}
    target="_blank"
    rel="noreferrer noopener"
    class="group mt-4 inline-flex items-center gap-1 text-sm font-medium text-emerald-600"
  >
    Go to Document

    <span
      aria-hidden="true"
      class="block transition group-hover:translate-x-0.5"
    >
      &rarr;
    </span>
  </a>
</article>

