<section>
  <div class="px-6 py-24 md:px-12 lg:container lg:mx-auto lg:px-6 lg:py-24">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
      <div
        class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full"
      >
        <img
          alt="Party"
          src="../../public/nema.jpg"
          class="absolute inset-0 h-full w-full object-cover"
        />
      </div>

      <div class="lg:py-24">
        <h2 class="text-xs text-emerald-600 tracking-widest font-medium title-font mb-1">OUR MISSION</h2>
        <h2 class="sm:text-3xl text-2xl font-bold title-font text-gray-900">
          Protecting People & Property
        </h2>

        <p class="mt-4 text-gray-600">
          All municipalities in Pennsylvania must plan for disasters as per
          Pennsylvania State Law Title 35 (Health and Safety) which requires
          municipalities to have a place, a staff and a plan dedicated to
          disaster preparedness. Our unified group consisting of Dillsburg,
          Carroll Twp, Franklintown, Monaghan Twp, Warrington Twp, & Wellsville
          is called NEMA (Northern York County Unified Emergency Management Agency). Our mission is to
          provide for the protection of persons & property in disasters
          affecting the Northern York County community at large.
        </p>
      </div>
    </div>
  </div>
</section>
