<section>
  <div
    class="mx-auto max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-8"
  >
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
      <div
        class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full"
      >
        <img
          alt="Party"
          src="../public/pexels.jpg"
          class="absolute inset-0 h-full w-full object-cover"
        />
      </div>

      <div class="lg:py-24">
        <h2 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">
          Our Mission
        </h2>

        <p class="mt-4 text-gray-600">
          All municipalities in Pennsylvania must plan for disasters as per
          Pennsylvania State Law Title 35 (Health and Safety) which requires
          municipalities to have a place, a staff and a plan dedicated to
          disaster preparedness. Our unified group consisting of Dillsburg,
          Carroll Twp, Franklintown, Monaghan Twp, Warrington Twp, & Wellsville
          is called NEMA (Northern York County Unified EMA). Our mission is to
          provide for the protection of persons & property in disasters
          affecting the Northern York County community at large.
        </p>

        <a
          href="#"
          class="mt-8 inline-block rounded-full bg-emerald-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-emerald-700 focus:outline-none focus:ring focus:ring-yellow-400"
        >
          Learn More
        </a>
      </div>
    </div>
  </div>
</section>
