<footer class="text-gray-600 body-font">
    <div class="bg-gray-300">
      <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"> 
          <span class="ml-3 text-xl font-medium">NEMA</span>
        </a>
        <p class="text-sm text-gray-500 sm:ml-6 sm:mt-0 mt-4">© 2023 NEMA —
          <a href="https://www.linkedin.com/in/felixzarate/" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@Felix Zarate</a>
        </p>
      </div>
    </div>
  </footer>
